jupyterlab==3.4.5
jupyterlab==3.4.5
numpy==1.26.4
jupyter
pandas
matplotlib
requests
statistics
graphviz
ipython
selenium
Flask
lxml
html5lib
beautifulsoup4
geopandas
shapely
descartes
geopy
netaddr==0.8.0
rasterio
pillow
scikit-learn
webdriver-manager